<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScrollView1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82501FAC1C5C006B0008EA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82501FC51C5C006B0008EA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82501FD01C5C006B0008EA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
