<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScrollVIew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8297F13C1C5C140E00F0AFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8297F1551C5C140E00F0AFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8297F1601C5C140F00F0AFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
