<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson 3 - Text FIeld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8254479A1C48177F0021EBFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825447B31C48177F0021EBFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825447BE1C48177F0021EBFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
